*{
  border-sizing: border-box;
}
content-box {
  max-width: 500px;
  height: 5em;
  width: 5em;
  padding: 4em;
  border: 1em solid;
  margin: 1em;
}
h1 {
font-size: 3rem;
}
footer {
  background-color: grey;
}
border-box {
  box-sizing: border-box;
}
